data_dir  = "/opt/nomad"
bind_addr = "0.0.0.0"

server {
  enabled          = true
  bootstrap_expect = {{ cluster_size }}
  server_join {
    retry_join = [
{%- for host in groups[nomad_inventory_group_name] -%}
        "{{ hostvars[host]['ansible_host'] | default(host) }}"{%- if not loop.last -%},{%- endif %}
{%- endfor -%}
    ]
  }
}

client {
  enabled           = true
  network_interface = "eth0"
  options = {
    "driver.raw_exec.enable" = "1"
  }
}

plugin "docker" {
  config {
    volumes {
      enabled = true
    }
  }
}

consul {
  address = "127.0.0.1:8500"
}