[Unit]
Description=Nomad
Documentation=https://www.nomadproject.io/docs/
Wants=consul.service
After=consul.service

[Service]
User=root
Group=root
ExecStart={{ nomad_install_dir }}/nomad agent -config=/etc/nomad.d
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target